@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-main: #05060d;
  --bg-card: #0f172a;
  --bg-header: rgba(6, 7, 14, 0.8); /* #06070e */

  --border-header: rgba(255, 255, 255, 0.1);

  --text-main: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: calc((1440px) + (1rem * 2));
  padding-inline: 1rem;
  margin-inline: auto;
}

.header {
  padding-block: 1rem;
  color: white;
  background: var(--bg-header);
  border-bottom: 1px solid var(--border-header);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container a {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.header__container a:hover {
  opacity: 0.8;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: normal;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.header__elem {
  border-radius: 0.5rem;
  border: 1px solid var(--border-header);
  background: var(--bg-card);
  font-weight: 600;
  padding: 0.75rem 0.5rem;
  min-width: 200px;
}
.header__elem:nth-child(1) {
  color: gold;
}

.header__elem:nth-child(2) {
  color: #78b960;
}

.header__elem span {
  color: white;
}

.gameplay__container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  margin-inline: auto;
}

.gameplay__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  flex: 1;
}

.gameplay__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameplay__text {
  font-size: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.gameplay__shadow {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 100px yellow;
}

.gameplay__coin {
  position: relative;
  transform: scale(1);
  width: 256px;
  height: 256px;
  background: linear-gradient(to right, #ffe875 0%, #d29200 50%, gold);
  border: 4px solid #ffe875;
  border-radius: 50%;
  box-shadow: 0 4px 10px black;
  transition: transform 0.3s ease-out;
}

.gameplay__coin::before {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  position: absolute;
  content: "$";
  font-size: 6rem;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.45);
}

.gameplay__coin:active {
  transform: scale(0.95);
}

.main-shop {
  flex: 0 0 30%;
  margin-top: 2rem;
}

.main-shop__list {
  margin-top: 1.5rem;
  gap: 0.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.shop__item {
  position: relative;
}

.shop__item button {
  min-width: 350px;
}

.shop__button {
  position: relative;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.shop__info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.shop__popup.hidden {
  display: none;
}

/* .shop__popup {
  display: block;
  position: absolute;
  top: 0;
  left: -150px;
  padding: 1rem;
  color: red;
  border: 1px solid red;
} */

/* .shop__price.hidden {
  display: none;
} */
